.postFrame {
    margin: auto;
    width: 50%;
    background-color: #fff;
}

@media screen and (max-width: 992px) {
    .postFrame {
        width: 100%;
    }
}

.ConnectedBadge {
    width: 10px;
    height: 10px;
    position: absolute;
    
    left: 0;
}

.interactItems {
    display: flex;
    justify-content: space-around;
}

.interactItems>p {
    transition: all ease-in-out 0.2s;
    padding: 0.5em;
    border-radius: 20px;
    text-align: center;
}

.interactItems>p:hover {
    cursor: pointer;
    background-color:#e0e8f1;
    color: blue;
}

.gotoAlign {
    display: none;
}

@media screen and (max-width: 400px) {
    .gotoAlign {
        display: block;
    }
}
.frameProfil{
    width: 40px;
    height: 40px;
    border-radius: 50% 50%;
    text-align: center;
}
.frameName{
    display: inline-block;
    transform: translateY(35%);
}
.comments, .comment{
    background-color: #fff;
}